body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}

header h1 {
  font-size: 24px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

header {
  background: #f59a00;
  color: #fff;
  text-align: center;
  padding-top: 54px;
}

header h1,
header p {
  margin: 0;
}

header img {
  width: 580px;
  vertical-align: bottom;
}

.btn {
  text-decoration: none;
  background:#fff;
  color: #f59a00;
  display: block;
  width: 140px;
  line-height: 44px;
  margin: 40px auto 44px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
}

.btn:hover {
  opacity: 0.8;
}

.features img {
  width: 300px;
}
 
.features > h1 {
  text-align: center;
  padding: 54px 0;
  font-weight: normal;
}

.features .container {
  margin: 0 32px;
}

.features p {
  line-height: 1.8;
}

.features section {
  padding-bottom: 64px;
}

.container {
  text-align: center;
  
}

.container section ul {
  /* list-style: none; */
  text-align: left;
  display:inline-block;
}

.container h1 {
  font-size: 30px;
}

.open {
  text-align: center;
  font-weight: normal;
}

.members {
  background: #f2f2f3;
}

.members > h1 {
  text-align: center;
  padding: 54px 0;
  font-weight: normal;
}
 
.members ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.members img {
  width: 150px;
  border-radius: 50%;
}

.members h2 {
  font-size: 20px;
}

.members li {
  padding-bottom: 64px;
}



